<nav aria-label="main navigation">
  <ul class="c-mainnav">
    <li class="c-mainnav__item"><a class="c-mainnav__link  is-current" aria-current="page" href="/">Home</a></li>
    <li class="c-mainnav__item"><a class="c-mainnav__link" href="/projects/">Projects</a></li>
    <li class="c-mainnav__item"><a class="c-mainnav__link" href="/about/">About</a></li>
  </ul>
</nav>