{#
  - we need a currentEntry to compare it to the entry we selected in the navigation link field
    - that currentEntry is the currentSection specified in the parent template
  - we are going to loop over our navigation entries and check the ID of the entry/element in their navLink field
    - if that ID is the same as the ID of currentEntry, we add the current class and the aria stuff to highlight the nav item
#}  
{% set currentEntry = currentSection ?? null %}

{% set navItems = craft.entries()
      .section("mainnav")
      .all() %}

<nav aria-label="main navigation">
  {% for item in navItems %}
    {% if loop.first %} <ul class="c-mainnav"> {% endif %}

      {# get the element we have linked using the link field (can be an entry or an asset) #}
      {% set linkedElement = item.navLink.element %}

      {% set currentClass = "" %}
      {% set currentAria = "" %}

      {# if the linked element id (the linked element) == currentEntry.id (the entry defined in the parent template) set the navigation as current #}
      {% if linkedElement.id == currentEntry.id %}
        {% set currentClass = "is-current" %}
        {% set currentAria = 'aria-current="page"' %}
      {% endif %}
      
      <li class="c-mainnav__item">
        <a 
          href="{{item.navLink.value}}"
          class="c-mainnav__link {{ currentClass }}" {{ currentAria|raw }}>
            {{ item.navTitle }}
        </a>
      </li>
    {% if loop.last %}</ul>
    {% endif %}
  {% endfor %}
</nav>