<div class="c-mobilemenu  js-mobilemenu">
  <div class="c-mobilemenu__actions">
    <button class="c-mobilemenu__close  js-menutrigger">Close</button>
  </div>
  <div class="c-mobilemenu__body">

    <nav class="navigation menu">

      <ul class="c-mobilenav">
        <li class="c-mobilenav__item"><a class="c-mobilenav__link  is-current" aria-current="page" href="/">Home</a></li>
        <li class="c-mobilenav__item"><a class="c-mobilenav__link  "  href="/projects/">Projects</a></li>
        <li class="c-mobilenav__item"><a class="c-mobilenav__link  "  href="/about/">About</a></li>
      </ul>
      
    </nav>

  </div>
</div>