<footer class="c-sitefooter">
  <div class="l-container">
  
    <div class="c-sitefooter__contact">
      
      <div class="c-sitefooter__links">
        <ul class="c-contactlist">
          <li class="c-contactlist__item"><a class="c-contactlist__link" href="mailto:hello@zodiak.agency">hello@zodiak.agency</a></li>
          <li class="c-contactlist__item"><a class="c-contactlist__link" href="tel:00322345678">+32 (0)2 345 678</a></li>
        </ul>
      </div>
      <div class="c-sitefooter__social">
        <nav aria-label="social media">
          <ul class="c-socialmedia">
            <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#" aria-label="Instragram">{{ include("_svg/icon_instagram.svg") }}</a></li>
            <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#" aria-label="Facebook">{{ include("_svg/icon_facebook.svg") }}</a></li>
            <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="#" aria-label="Twitter">{{ include("_svg/icon_twitter.svg") }}</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="c-sitefooter__main">

      <div class="c-sitefooter__address">
        <address class="c-footeraddress">
          Zodiak Agency<br>
          Route de Blocry, 5<br>
          1348 Louvain-La-Neuve
        </address>
      </div>

      <div class="c-sitefooter__mainnav">
        <nav aria-label="footer navigation" id="footernav">
          
            <ul class="c-footernav">
              <li class="c-footernav__item"><a class="c-footernav__link" href="/">Home</a></li>
              <li class="c-footernav__item"><a class="c-footernav__link" href="/projects/">Projects</a></li>
              <li class="c-footernav__item"><a class="c-footernav__link" href="/about/">About</a></li>
            </ul>
          
        </nav>
      </div>

      <div class="c-sitefooter__legalnav">
        <nav aria-label="legal navigation">
          
            <ul class="c-footernav">
              <li class="c-footernav__item"><a class="c-footernav__link" href="/assets/legal_docs/privacy-policy.pdf">Privacy policy</a></li>
              <li class="c-footernav__item"><a class="c-footernav__link" href="/assets/legal_docs/terms-of-use.pdf">Terms of use</a></li>
            </ul>
          
        </nav>
      </div>
      
    </div>

    <div class="c-sitefooter__end">
      <p class="c-copyright">&copy; 2026 - Zodiak Agency</p>
    </div>

  </div>
</footer>