/* ---------------------------------
=visually hidden
--------------------------------- */

/* hide content visually but not for assistive technologie
refrence: https://www.a11yproject.com/posts/how-to-hide-content/ */

.u-visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
