
{% set mxBlock = mxBlock ?? null %}
{% set text = mxBlock.mxText ?? null %}

<div class="c-casemodule c-richtext">
    <div class="l-container l-container--copy">
        {{ text }}
    </div>
</div>